<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-dao.xml"/>

    <!--1.扫描service下的包-->
    <context:component-scan base-package="com.qiu.service"/>


    <!--2.将我们的所有业务类，注入到Spring，可以通过配置，或者注解实现-->
    <bean id="CarrierCodeInfoServiceImpl" class="com.qiu.service.CarrierCodeInfoServiceImpl">
        <property name="mapper" ref="carrier_code_infoMapper"/>
    </bean>

    <bean id="DisasterCodeInfoServiceImpl" class="com.qiu.service.DisasterCodeInfoServiceImpl">
        <property name="mapper" ref="disaster_code_infoMapper"/>
    </bean>

    <bean id="GeoCodeInfoServiceImpl" class="com.qiu.service.GeoCodeInfoServiceImpl">
        <property name="mapper" ref="geo_code_infoMapper"/>
    </bean>

    <bean id="SourceCodeInfoServiceImpl" class="com.qiu.service.SourceCodeInfoServiceImpl">
        <property name="mapper" ref="source_code_infoMapper"/>
    </bean>

    <bean id="UnifiedCodeServiceImpl" class="com.qiu.service.UnifiedCodeServiceImpl">
        <property name="mapper" ref="unified_codeMapper"/>
    </bean>

    <bean id="CodeInfoServiceImpl" class="com.qiu.service.CodeInfoServiceImpl">
        <property name="unifiedCodeMapper" ref="unified_codeMapper"/>
        <property name="CarrierMapper" ref="carrier_code_infoMapper"/>
        <property name="DisasterMapper" ref="disaster_code_infoMapper"/>
        <property name="GeoMapper" ref="geo_code_infoMapper"/>
        <property name="SourceMapper" ref="source_code_infoMapper"/>
        <property name="imageMapper" ref="imageTableMapper"/>
        <property name="imageRelationMapper" ref="unified_code_Image_RelationMapper"/>
        <property name="audioMapper" ref="audioTableMapper"/>
        <property name="audioRelationMapper" ref="unified_code_Audio_RelationMapper"/>
        <property name="videoMapper" ref="videoTableMapper"/>
        <property name="videoRelationMapper" ref="unified_code_Video_RelationMapper"/>
    </bean>


    <!--3.声明式事务配置-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--4.aop事务支持-->


</beans>